@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@200;300;400;500;600;700;800;900&display=swap');

body {
    background-color: #000000;
    font-family: 'Gothic A1', sans-serif;
    margin: 0 auto;
}


.content {
    margin: 0 20%; 
}

@media (min-width: 768px) {
    .content {
        margin: 0px calc((100% - 600px) / 2);
    }
}

@media (min-width: 1024px) {
    .content {
        margin: 0 calc((100% - 900px) / 2);
    }
}

h1 {
    color: #ffcc00;
    font-weight: bold;
    font-size: 40px;
    font-style: normal;
}

h2 {
    color: #ffcc00;
    font-weight: 300;
    font-size: 30px;
    font-style: normal;
}

p {
    color: #e1e1e1;
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
}

ul {
    color: #e1e1e1;
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
}

/* links */

a {
    color: #ffcc00;
    text-decoration: none;
    border-bottom: 1px solid #242424;
    transition: border-bottom 0.3;
}

a:hover {
    border-bottom: 1px solid #ffcc00;
}

.external::after {
    content: "";
    position: relative;
    margin-left: 6px;
    margin-bottom: 3px;
    display: inline-block;
    transform: rotate(180deg);
    width: 8px;
    height: 8px;
    z-index: 1;
    border-bottom: 2px solid #242424;
    border-left: 2px solid #242424;
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.external:hover::after {
    margin-bottom: 5px;
    transform: rotate(180deg) translateX(-4px);
    border-bottom: 2px solid #ffcc00;
    border-left: 2px solid #ffcc00;
}

/* header */

.header {
    overflow: hidden;
    background-color: #000000;
    padding: 0px 0px;
    margin: 0;
    display: flex;
    align-items: center;
    height: 7em;
    border-bottom: 1px solid #242424;
}

.header a {
    float: left;
    position: relative;
    display: block;
    line-height: 2.35em;
    padding: 14px;
    text-align: center;
    text-decoration: none;
    height: 2.35em;
    width: 4em;
    border: 1px solid #242424;
    margin-top: -1px;
    margin-left: -1px;
    transition: all 0.1s;
}

.header a:hover {
    background-color: #000000;
    border-bottom: 1px solid #ffcc00;
}

.header a:active {
    background-color: #000000;
}

.header-left {
   margin-right: auto;
   margin-left: -1px;
   font-size: 1em;
}

.header-left a {
    align-self: center;
    font-size: 225%;
    display: inline;
    font-weight: 300;
}

.header-right {
   margin-left: auto;
   height: 100%;
}

.header-right a {
    align-self: center;
    font-size: 225%;
    display: inline;
    font-weight: 300;
}

.has-arrow::after {
    content: "";
    position: absolute;
    display: inline-block;
    left: 50%;
    bottom: 17px;
    transform: translateX(-50%) rotate(-45deg);
    width: 8px;
    height: 8px;
    z-index: 1;
    border-bottom: 2px solid #242424;
    border-left: 2px solid #242424;
    transition: all 0.5s cubic-bezier(0.19,1,0.22,1);
}

.has-arrow:hover::after {
    transform: translateX(-50%) rotate(-45deg);
    bottom: 10px;
    border-bottom: 2px solid #ffcc00;
    border-left: 2px solid #ffcc00;
}


/* misc */
 
.site-name {
    font-weight: 800 !important; 
    width: 10em !important;
    border-bottom: 0px solid black !important;
}

.site-name:hover {
    border-bottom: 0px solid black !important;
}

.regular-weight {
    font-weight: 400;
}

.center {
    text-align: center;
}